.main-area{
    height: auto;
    margin-top: 2rem;
    background-color: rgba(214, 192, 192, 0.842)    ;
    
}
.title-area{
   
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}

.Card-section{
    padding: 2rem;
}

.card{
    align-items: center;
    justify-content: center;
}
.card-body{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-img, .card-img-bottom, .card-img-top{
   margin: 2rem;
    height: auto;
    width: 6rem;
}